#app {
    background-color: #ccc;
}

.header {
    background-color: #0c99c8;
    padding: 2px 5px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 4px;
}

.header > h1 {
    border: 2px solid #00FFFF;
    background-color: #0a0900;
    padding-left: 10px;
    width: 15%;
}

.body {
    display: flex;
    justify-content: space-between;
}

img {
    width: 300px;
    height: auto;
}

.txt {
    color: #2e3192;
}

.sidebar {
    border-radius: 5px;
    width: 20%;
    margin-top: 50px;
    color: #0a0900;
    background-color: orange;
    padding: 10px 0;
}

.nav {

}

.nav > li {
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.nav > li:hover {
    color: #003eff;
}

.footer {
    margin-top: 30px;
    background-color: #0a0900;
    padding: 20px;
    color: #fff;
}

.footer > p {
    text-align: center;
}
